/* Skeletal base stylesheet.
 *
 */

/* RESET
 *
 * Yes, there is still part of Eric Meyer's reset in here. We'll get to
 * setting soon.
 */
a, abbr, address, b, blockquote, body, caption, cite, code, dd, del, dfn, div,
dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins,
kbd, label, legend, li, object, ol, p, pre, q, samp, small, span, strong, sub,
sup, table, tbody, td, tfoot, th, thead, tr, ul, var {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
/*	background: transparent;*/
}


/* BASE
 *
 */
body {
	font-size: 62.5%; /* 10px */
	line-height: 1;
}


/* COLOR
 *
 * Color scheme:
 *
 *     color     |  hex-value  |     rgb-value
 * ------------------------------------------------
 *   black       |   #000      |
 *   light blue  |   #258ccc   |  rgb(37,140,204)
 *   dark blue   |   #297eb2   |  rgb(41,126,178)
 *   dark grey   |   #333      |
 *   grey        |   #666      |
 *   dark red    |   #b22121   |  rgb(178,33,33)
 *   light grey  |   #eee      |
 *   light red   |   #ff4848   |  rgb(255,72,72)
 *   yellow      |   #fffd61   |  rgb(255,253,97)
 *   white       |   #fff
 */
a:link {
	color: #297eb2;
}

a:visited {
	color: #297eb2;
}

a:hover {
	color: #258ccc;
}

blockquote {
	color: #666;
}

body {
	color: #333;
	background-color: inherit;
}

code {
	background: #eee;
	color: #ff4848;
}

fieldset > fieldset {
	border-color: #666;
}

hr {
	color: #b22121;
}

html {
	background-color: #fff;
}

input[type=color],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
	border-bottom-color: #999;
	border-left-color: #ccc;
	border-right-color: #999;
	border-top-color: #ccc;
}

legend {
	color: #000;
}

mark {
	background: #fffd61;
}

pre {
	background: #eee;
	color: #ff4848;
}

table > tfoot {
	background: #eee;
}

table > tfoot > tr > th {
	background: #ccc;
}

table > thead {
	background: #ccc;
}




/* FONTS
 *
 * Font stacks are chosen based on:
 * http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/
 */
abbr {
	font-variant: normal;
}

address {
  font-style: italic;
}

b {
	font-weight: bold;
}

blockquote {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: italic;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

cite {
  font-style: italic;
	font-weight: bold;
}

code {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}

dfn {
  font-style: italic;
}

dt {
	font-weight: bold;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-weight: bold;
}

i {
  font-style: italic;
}

input[type=color],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

kbd {
	font-family: "Courier New", Courier, monospace;
}

legend {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-weight: bold;
}

pre {
	font-family: "Courier New", Courier, monospace;
}

q {
  font-style: italic;
}

samp {
	font-family: "Courier New", Courier, monospace;
}

strong {
	font-weight: bold;
}

th {
	font-weight: bold;
}

var {
	font-family: "Courier New", Courier, monospace;
  font-style: italic;
}


/* TEXT
 *
 */
a:focus {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

h1 {
	letter-spacing: 0.025em;
}

h2 {
	letter-spacing: 0.025em;
}

h3 {
	letter-spacing: 0.025em;
}

h4 {
	letter-spacing: 0.025em;
}

h5 {
	letter-spacing: 0.025em;
}

h6 {
	letter-spacing: 0.025em;
}

ins {
	border-bottom: 1px dashed;
	text-decoration: none;
} /* TODO highlight inserts */

legend {
	letter-spacing: 0.025em;
}



/* HORIZONTAL GRID
 *
 */
aside {
	margin-left: 1em;
	margin-right: 1em;
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 96em;
}

dd {
	margin-left: 1.25em; /* 20px */
}

dl {
	margin-left: 6em;
	margin-right: 6em;
}

fieldset > fieldset {
	border-left-width: 0.1em;
	border-right-width: 0.1em;
	padding-left: 0.9em;
	padding-right: 0.9em;
}

fieldset > fieldset > legend {
	padding-left: 0.625em; /* 10px */
	padding-right: 0.625em; /* 10px */
}

footer {
	margin-left: 1em;
	margin-right: 1em;
}

form {
	margin-left: 6em;
	margin-right: 6em;
}

header {
	margin-left: 1em;
	margin-right: 1em;
}

hr {
	margin-left: 6em;
	margin-right: 6em;
}

input[type=color],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
	border-left-width: 0.0625em; /* 1px */
	border-right-width: 0.0625em; /* 1px */
	margin-left: 0;
	margin-right: 0;
	padding-left: 0.25em; /* 4px */
	padding-right: 0.25em; /* 4px */
	width: 16.875em; /* 270px */
}

nav > ol {
	margin-left: 0;
	margin-right: 0;
}

nav > ol > li {
	margin-right: 1em;
}

ol {
	margin-left: 6em;
	margin-right: 6em;
}

ol > li > ol {
	margin-left: 0;
	margin-right: 0;
}

ol > li > ul {
	margin-left: 0;
	margin-right: 0;
}

pre {
	margin-left: 3.75em; /* 60px */
	margin-right: 3.75em; /* 60px */
	padding-left: 0.625em; /* 10px */
	padding-right: 0.625em; /* 10px */
}

section {
	margin-left: 1em;
	margin-right: 1em;
}

table {
	margin-left: 6em;
	margin-right: 6em;
}

ul {
	margin-left: 6em;
	margin-right: 6em;
}

ul > li > ol {
	margin-left: 0;
	margin-right: 0;
}

ul > li > ul {
	margin-left: 0;
	margin-right: 0;
}



/* VERTICAL GRID
 *
 * The vertical grid is based on a height of 6px. This allows for the use of
 * line-heights like 12px, 18px, 24px, 30px, etc.
 *
 * Sensible font-size and line-height combinations are:
 *
 *   font-size  |  line-height (em)  |  line-height (px)  |   10px
 * -------------+--------------------+--------------------|----------
 *     10px     |       1.8em        |       18px         |  1em
 *     12px     |       1.5em        |       18px         |  
 *     15px     |       1.6em        |       24px         |  .625em
 *     16px     |       1.5em        |       24px         |
 *     20px     |       1.8em        |       36px         |  .5em
 *     24px     |       1.5em        |       36px         |
 *     25px     |       1.44em       |       36px         |  .4em
 *     30px     |       1.4em        |       42px         |
 */
article {
	margin-bottom: 1.2em;
}

aside {
	margin-bottom: 1.2em;
	margin-top: 0;
}

blockquote {
	font-size: 1.2em;
	line-height: 1.5em; /* 18px */
}

button {
	font-size: 1.2em;
	line-height: 1.5em; /* 18px */
}

cite {
	font-size: 1.2em;
	line-height: 1.5em; /* 18px */
}

dd {
	font-size: 1.6em;
	line-height: 1.5em; /* 24px */
	margin-bottom: 0.375em; /* 6px */
}

dl {
	margin-bottom: 0.6em;
}

dt {
	font-size: 1.6em;
	line-height: 1.5em; /* 24px */
}

fieldset {
	line-height: 1; /* helps to set vertical alignment of radio buttons and checkboxes; probably unnecessary */
}

fieldset > div {
	margin-bottom: 1.2em;
}

fieldset > fieldset > div {
	margin-bottom: 0;
}

fieldset > fieldset {
	border-bottom-width: 0.1em;
	border-top-width: 0.1em;
	margin-bottom: 1.2em;
	padding-bottom: 1.1em;
	padding-top: 0.5em;
}

footer > p {
	font-size: 1.2em;
	line-height: 1.5em; /* 18px */
	margin-bottom: 0;
}

h1 {
	font-size: 3em;
	line-height: 1.4em; /* 42px */
}

h2 {
	font-size: 2.4em;
	line-height: 1.5em; /* 36px */
}

h3 {
	font-size: 2em;
	line-height: 1.8em; /* 36px */
}

h4 {
	font-size: 1.6em;
	line-height: 1.5em; /* 24px */
}

h5 {
	font-size: 1.5em;
	line-height: 1.6em; /* 24px */
}

h6 {
	font-size: 1.2em;
	line-height: 1.5em; /* 18px */
}

header {
	margin-bottom: 1.2em;
}

hr {
	border-width: 0.1em 0 0 0;
	margin-bottom: 1.1em;
}

input[type=color],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
	border-bottom-width: 0.0625em; /* 1px */
	border-top-width: 0.0625em; /* 1px */
	font-size: 1.6em;
	line-height: 1em; /* 16px */
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0.375em; /* 6px */
	padding-top: 0.375em; /* 6px */
}

label {
	font-size: 1.5em;
	line-height: 1.6em; /* 24px */
}

legend {
	font-size: 1.6em;
	line-height: 1.5em; /* 24px */
}

li > ol > li {
	font-size: 1em; /* 15px */
	line-height: 1.6em; /* 24px */
}

li > ul > li {
	font-size: 1em; /* 15px */
	line-height: 1.6em; /* 24px */
}

nav > ol > li {
	font-size: 1em;
}

nav > ol > li > a {
	font-size: 1.6em;
	line-height: 1.5em; /* 24px */
}

ol {
	margin-bottom: 1.2em;
}

ol > li {
	font-size: 1.5em;
	line-height: 1.6em; /* 24px */
}

ol > li > ol {
	margin-bottom: 0;
}

ol > li > ul {
	margin-bottom: 0;
}

option {
	font-size: 1.2em;
	line-height: 1.5em; /* 18px */
}

optgroup {
	font-size: 1.2em;
	line-height: 1.5em; /* 18px */
}

p {
	font-size: 1.5em;
	line-height: 1.6em; /* 24px */
	margin-bottom: 0.8em; /* 12px */
}

pre {
	font-size: 1.6em;
	line-height: 1.5em; /* 18px */
	margin-bottom: 0.75em; /* 12px */
	padding-bottom: 0.375em; /* 6px */
	padding-top: 0.375em; /* 6px */
}

section {
	margin-bottom: 1.2em;
}

select {
	font-size: 1.2em;
	line-height: 1.5em; /* 18px */
}

table {
	margin-bottom: 1.2em;
}

table > tfoot > tr > th {
	font-size: 1.5em;
	line-height: 1.6em; /* 24px */
}

table > thead > tr > th {
	font-size: 1.6em;
	line-height: 1.5em; /* 24px */
}

td {
	border-bottom: 0.1em solid; /* ~1px */
	border-top: 0.1em solid; /* ~1px */
	font-size: 1.5em;
	line-height: 1.6em; /* 24px */
	padding-bottom: 0.6em; /* 9px */
	padding-top: 0.6em; /* 9px */
}

textarea {
	font-size: 1.2em;
	line-height: 1.5em; /* 18px */
}

ul {
	margin-bottom: 1.2em;
}

ul > li {
	font-size: 1.5em;
	line-height: 1.6em; /* 24px */
}

ul > li > ol {
	margin-bottom: 0;
}

ul > li > ul {
	margin-bottom: 0;
}



/* LISTS
 *
 */
nav > ol {
	list-style: none;
}

li > ol > li {
	margin-left: 1.5em; /* 18px */
}

li > ul > li {
	margin-left: 1.5em; /* 18px */
}

ol {
	list-style-position: inside;
	list-style-type: decimal;
}

ol > li > ol {
	list-style-type: lower-alpha;
}

ol > li > ol > li > ol {
	list-style-type: lower-roman;
}

ul {
	list-style-position: inside;
	list-style-type: disc;
}

ul > li > ul {
	list-style-type: circle;
}

ul > li > ul > li > ul {
	list-style-type: square;
}





/* POSITION
 *
 */
fieldset {
	clear: left;
}

fieldset > div {
	overflow: hidden;
}

fieldset > div > input {
	clear: left;
	float: left;
}

fieldset > div > label {
	float: left;
}

fieldset > div > select {
	clear: left;
	float: left;
}

fieldset > fieldset > div > input {
	float: none;
}

fieldset > fieldset > div > label {
	float: none;
}

nav > ol {
	overflow: hidden;
}



/* TABLES
 *
 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

table > tfoot > tr > th {
	text-align: left;
}

table > thead > tr > th {
	text-align: center;
}

table > tbody > tr > th {
	text-align: left;
}

td {
	border-left: 0.1em solid;
	border-right: 0.1em solid;
	padding-left: 0.9em; /* 13.5px */
	padding-right: 0.9em; /* 13.5px */
}

table > tfoot > tr > th {
	border: 0.1em solid;
	padding: 0.2em 0.9em;
}

table > thead > tr > th {
	border: 0.1em solid;
	padding: 0.2em 1.9em;
}



/* CONTENT
 *
 * Content elements dynamically added by CSS.
 */



/* BLOCKS
 *
 */
code {
	display: inline-block;
	padding: 0 0.2em; /* 0 3px with a 15px font */
}

h1 > a {
	display: inline-block;
}

label {
	display: inline-block;
}

mark {
	display: inline-block;
	padding: 0 0.2em; /* 0 3px with a 15px font */
}

nav > ol > li {
	float: left;
}

nav > ol > li > a {
	display: block;
}



/* BORDERS
 *
 */
hr {
	border-style: solid;
}

fieldset > fieldset {
	border-style: solid;
}

input[type=color],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
	border-style: solid;
}



/* DEBUG
 *
 * Uncomment to debug the horizontal grid.
 */
/** { background-color: rgba(255,0,0,0.1); } body { background-image: url(../img/960.gs/16_col.gif); background-position: center top; background-repeat: repeat-y; }*/
