@import 'colors.scss';
@import 'fonts.scss';

//--------------------------------//
// COLORS                         //
//--------------------------------//
// base colors
$color-action:    $color-green;
$color-alert:     $color-yellow;
$color-brand:     $color-red;
$color-highlight: $color-yellow;
$color-link:      $color-blue;
$color-neutral:   $color-gray;


//--------------------------------//
// DEBUGGING                      //
//--------------------------------//
$is-in-debug-mode: false;


//--------------------------------//
// RESPONSIVE GRID                //
//--------------------------------//
$vertical-grid-base-height: 0.6em;

// widths used in responsive grid at different stages
$grid-smartphone-column-width: 96%;
$grid-smartphone-gutter-width: 4%;

$grid-smartphone-to-tablet-column-width: 3em;
$grid-smartphone-to-tablet-gutter-width: 1em;

$grid-portrait-tablet-column-width: 4.4em;
$grid-portrait-tablet-gutter-width: 2em;

$grid-default-column-width: 6em;
$grid-default-gutter-width: 2em;

$grid-large-display-column-width: 8em;
$grid-large-display-gutter-width: 2em;


//--------------------------------//
// TEXT                           //
//--------------------------------//
// font stacks
$font-family-code:     $font-family-monospace;
$font-family-headings: $font-family-sans-serif;
$font-family-inputs:   $font-family-sans-serif;
$font-family-quotes:   $font-family-serif;
$font-family-content:  $font-family-serif;

// typography
$line-height-to-font-size-ratio: 1.5;
