@import 'skeletal.scss';

body {
  > header {
    background: $color-brand;
    margin: 0;
    padding: 0;
    width: 100%;

    div {
      @include grid($number-of-grid-columns, $margin: 0 auto);
    }
  }
}

h2 {
  font-weight: bold;
  text-align: center;
}

p {
  clear: both;
}

#characteristics {
  list-style: none;
  overflow: hidden;

  > li {
    @include grid(8, $margin: 0 1gutter 0 0, $media-queries: ('smartphone', 'smartphone-to-tablet'), $break-every-nth: 2);
    @include grid(4, $margin: 0 1gutter 0 0, $media-queries: ('portrait-tablet', 'default', 'large-display'));

    float: left;
    font-size: 1em;
    line-height: 1em;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
