// Add a vertical background gradient to the element starting from the first and
// transitioning downwards to the second color.
@mixin background-gradient($color-top, $color-bottom) {
  background-color: $color-bottom;

  background-image: -webkit-gradient(linear, left top, left bottom, from($color-top), to($color-bottom));
  background-image: -webkit-linear-gradient(top, $color-top, $color-bottom);
  background-image:    -moz-linear-gradient(top, $color-top, $color-bottom);
  background-image:     -ms-linear-gradient(top, $color-top, $color-bottom);
  background-image:      -o-linear-gradient(top, $color-top, $color-bottom);
  background-image:         linear-gradient(top, $color-top, $color-bottom); /* standard, but currently unimplemented */
}

// Add border-radius to element.
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;
}

// Add box-shadow to element.
@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow:    $box-shadow;
  box-shadow:         $box-shadow;
}
