// Set `margin`, `padding` and `width` for a container occupying a set number of
// columns within the responsive grid.
@mixin grid($number-of-columns, $margin: auto, $padding: 0, $does-spill: false, $media-queries: ('extra-small', 'small', 'medium', 'large', 'extra-large'), $break-every-nth: '') {
  $does-include-extra-small: false;
  $does-include-small:       false;
  $does-include-medium:      false;
  $does-include-large:       false;
  $does-include-extra-large: false;

  @each $media-query in $media-queries {
    @if ($media-query == 'extra-small')      { $does-include-extra-small: true; }
    @else if ($media-query == 'small')       { $does-include-small:       true; }
    @else if ($media-query == 'medium')      { $does-include-medium:      true; }
    @else if ($media-query == 'large')       { $does-include-large:       true; }
    @else if ($media-query == 'extra-large') { $does-include-extra-large: true; }
  }

  // extract padding-values from parameter
  $margin-top:    nth($margin, 1);
  $margin-right:  $margin-top;
  $margin-bottom: $margin-top;
  $margin-left:   $margin-top;

  // check if margin-parameter does not exclusively contain `auto`
  $has-margin-parameter: not((length($margin) == 1) and ($margin == auto));

  // update margin-values if concrete value has been given
  @if ($has-margin-parameter) {
    @if (length($margin) >= 2) {
      $margin-right: nth($margin, 2);
      $margin-left:  $margin-right;
    }

    @if (length($margin) >= 3) {
      $margin-bottom: nth($margin, 3);
    }

    @if (length($margin) >= 4) {
      $margin-left: nth($margin, 4);
    }
  }

  // extract padding-values from parameter
  $padding-top:    nth($padding, 1);
  $padding-right:  $padding-top;
  $padding-bottom: $padding-top;
  $padding-left:   $padding-top;

  // update padding-values
  @if (length($padding) >= 2) {
    $padding-right: nth($padding, 2);
    $padding-left:  $padding-right;
  }

  @if (length($padding) >= 3) {
    $padding-bottom: nth($padding, 3);
  }

  @if (length($padding) >= 4) {
    $padding-left: nth($padding, 4);
  }

  @if ($does-include-extra-small == true) {
    @media (#{ $media-query-extra-small }) {
      // un-float
      float: none;

      // set dimensions to default value (only one column exists)
      margin: $margin-top 0 $margin-bottom;
      padding: $padding-top 0 $padding-bottom;
      width: 100%;
    }
  }

  @if ($does-include-small == true) {
    @media (#{ $media-query-small }) {
      // save previous values of horizontal margins and paddings
      $margin-left-previous:   $margin-left;
      $margin-right-previous:  $margin-right;
      $padding-left-previous:  $padding-left;
      $padding-right-previous: $padding-right;

      // use default values if no margin-parameter was given
      @if (not($has-margin-parameter)) {
        $margin-left:  ($grid-small-gutter-width / 2);
        $margin-right: $margin-left;
      }

      @if (($margin-left != 'auto') and (unit($margin-left) == 'gutter')) {
        $margin-left: ($margin-left / 1gutter) * $grid-small-gutter-width;
      }

      @if (($margin-right != 'auto') and (unit($margin-right) == 'gutter')) {
        $margin-right: ($margin-right / 1gutter) * $grid-small-gutter-width;
      }

      $width: (($number-of-columns * $grid-small-column-width) + (($number-of-columns - 1) * $grid-small-gutter-width) - $padding-right - $padding-left);
      @if ($does-spill == true) {
        $padding-left:  $padding-left  + $grid-smartphone-to-tablet-gutter-width / 2;
        $padding-right: $padding-right + $grid-smartphone-to-tablet-gutter-width / 2;
      }

      margin:  $margin-top $margin-right $margin-bottom $margin-left;
      padding: $padding-top $padding-right $padding-bottom $padding-left;
      width:   $width;

      @if (type-of($break-every-nth) == "number") {
        &:nth-of-type(#{ $break-every-nth }n) {
          margin-right: 0;
        }

        &:nth-of-type(#{ $break-every-nth }n + 1) {
          clear: both;
        }
      }

      // restore previous values of horizontal margins and paddings for following
      // @media directives
      $margin-left:   $margin-left-previous;
      $margin-right:  $margin-right-previous;
      $padding-left:  $padding-left-previous;
      $padding-right: $padding-right-previous;
    }
  }

  @if ($does-include-medium == true) {
    @media (#{ $media-query-medium }) {
      // save previous values of horizontal margins and paddings
      $margin-left-previous:   $margin-left;
      $margin-right-previous:  $margin-right;
      $padding-left-previous:  $padding-left;
      $padding-right-previous: $padding-right;

      // use default values if no margin-parameter was given
      @if (not($has-margin-parameter)) {
        $margin-left:  ($grid-portrait-tablet-gutter-width / 2);
        $margin-right: $margin-left;
      }

      @if (($margin-left != 'auto') and (unit($margin-left) == 'gutter')) {
        $margin-left: ($margin-left / 1gutter) * $grid-medium-gutter-width;
      }

      @if (($margin-right != 'auto') and (unit($margin-right) == 'gutter')) {
        $margin-right: ($margin-right / 1gutter) * $grid-medium-gutter-width;
      }

      $width: (($number-of-columns * $grid-medium-column-width) + (($number-of-columns - 1) * $grid-medium-gutter-width) - $padding-right - $padding-left);
      @if ($does-spill == true) {
        $padding-left:  $padding-left  + $grid-medium-gutter-width / 2;
        $padding-right: $padding-right + $grid-medium-gutter-width / 2;
      }

      margin:  $margin-top $margin-right $margin-bottom $margin-left;
      padding: $padding-top $padding-right $padding-bottom $padding-left;
      width:   $width;

      @if (type-of($break-every-nth) == "number") {
        &:nth-of-type(#{ $break-every-nth }n) {
          margin-right: 0;
        }

        &:nth-of-type(#{ $break-every-nth }n + 1) {
          clear: both;
        }
      }

      // restore previous values of horizontal margins and paddings for following
      // @media directives
      $margin-left:   $margin-left-previous;
      $margin-right:  $margin-right-previous;
      $padding-left:  $padding-left-previous;
      $padding-right: $padding-right-previous;
    }
  }

  @if ($does-include-large == true) {
    @media (#{ $media-query-large }) {
      // save previous values of horizontal margins and paddings
      $margin-left-previous:   $margin-left;
      $margin-right-previous:  $margin-right;
      $padding-left-previous:  $padding-left;
      $padding-right-previous: $padding-right;

      // use default values if no margin-parameter was given
      @if (not($has-margin-parameter)) {
        $margin-left:  ($grid-large-gutter-width / 2);
        $margin-right: $margin-left;
      }

      @if (($margin-left != 'auto') and (unit($margin-left) == 'gutter')) {
        $margin-left: ($margin-left / 1gutter) * $grid-large-gutter-width;
      }

      @if (($margin-right != 'auto') and (unit($margin-right) == 'gutter')) {
        $margin-right: ($margin-right / 1gutter) * $grid-large-gutter-width;
      }

      $width: (($number-of-columns * $grid-large-column-width) + (($number-of-columns - 1) * $grid-large-gutter-width) - $padding-right - $padding-left);
      @if ($does-spill == true) {
        $padding-left:  $padding-left  + $grid-large-gutter-width / 2;
        $padding-right: $padding-right + $grid-large-gutter-width / 2;
      }

      margin:  $margin-top $margin-right $margin-bottom $margin-left;
      padding: $padding-top $padding-right $padding-bottom $padding-left;
      width:   $width;

      @if (type-of($break-every-nth) == "number") {
        &:nth-of-type(#{ $break-every-nth }n) {
          margin-right: 0;
        }

        &:nth-of-type(#{ $break-every-nth }n + 1) {
          clear: both;
        }
      }

      // restore previous values of horizontal margins and paddings for following
      // @media directives
      $margin-left:   $margin-left-previous;
      $margin-right:  $margin-right-previous;
      $padding-left:  $padding-left-previous;
      $padding-right: $padding-right-previous;
    }
  }

  @if ($does-include-extra-large == true) {
    @media (#{ $media-query-extra-large }) {
      // use default values if no margin-parameter was given
      @if (not($has-margin-parameter)) {
        $margin-left:  ($grid-extra-large-gutter-width / 2);
        $margin-right: $margin-left;
      }

      @if (($margin-left != 'auto') and (unit($margin-left) == 'gutter')) {
        $margin-left: ($margin-left / 1gutter) * $grid-extra-large-gutter-width;
      }

      @if (($margin-right != 'auto') and (unit($margin-right) == 'gutter')) {
        $margin-right: ($margin-right / 1gutter) * $grid-extra-large-gutter-width;
      }

      $width: (($number-of-columns * $grid-extra-large-column-width) + (($number-of-columns - 1) * $grid-extra-large-gutter-width) - $padding-right - $padding-left);
      @if ($does-spill == true) {
        $padding-left:  $padding-left  + $grid-extra-large-gutter-width / 2;
        $padding-right: $padding-right + $grid-extra-large-gutter-width / 2;
      }

      @if (type-of($break-every-nth) == "number") {
        &:nth-of-type(#{ $break-every-nth }n) {
          margin-right: 0;
        }

        &:nth-of-type(#{ $break-every-nth }n + 1) {
          clear: both;
        }
      }

      margin:  $margin-top $margin-right $margin-bottom $margin-left;
      padding: $padding-top $padding-right $padding-bottom $padding-left;
      width:   $width;
    }
  }
}
