// These should never be used directly. Instead, reference them through the
// variables set in `_config.scss`.
$black: #000;
$off-black: #2d2d2d;
$dark-gray: #676767;
$gray: #dfdfdf;
$light-gray: #f1f1f1;
$light-green: #3d9400;
$green: #398a00;
$dark-green: #29691d;
$light-blue: #4d90fe;
$blue: #4787ee;
$dark-blue: #4079d6;
$light-red: #ff4848;
$red: #dd4b39;
$dark-red: #d14836;
$light-yellow: #fef7cc;
$yellow: #ffe475;
$dark-yellow: #e8d64d;
$off-white: #fdfdfd;
$white: #fff;

// form field colors
$form-light-gray: #ccc;
$form-gray: #999;
$form-dark-gray: #666;

$debug: rgba(255,0,0,.4);
