@import 'colors.scss';
@import 'fonts.scss';

//--------------------------------//
// FONT STACKS                    //
//--------------------------------//
$font-family-code: $font-family-monospace;
$font-family-headings: $font-family-sans-serif;
$font-family-inputs: $font-family-sans-serif;
$font-family-quotes: $font-family-serif;
$font-family-content: $font-family-serif;

//--------------------------------//
// COLORS                         //
//--------------------------------//
// code
$background-color-subtle: $light-gray;
$border-color-subtle: $gray;
$shadow-color-subtle: $off-black;

// deleted text
$color-deleted: $dark-gray;

// highlights
$background-color-highlight: $yellow;
$shadow-color-highlight: $off-black;

// base content
$background-color-content: $off-white;
$color-content: $off-black;

// footer
$background-color-footer: $off-black;
$color-footer: $off-white;

// header
$background-color-header: $off-black;
$color-header: $light-blue;

// page
$background-color-page: $off-white;


//--------------------------------//
// GRID                           //
//--------------------------------//
$vertical-grid-base-height: 6;

//--------------------------------//
// TYPOGRAPHY                     //
//--------------------------------//
$line-height-to-font-size-ratio: 1.5;
