// Adds a vertical background gradient to the element starting from the first
// and transitioning to the second color.
@mixin background-gradient($color-top, $color-bottom) {
  background-color: $color-bottom;

  background-image: -webkit-gradient(linear, left top, left bottom, from($color-top), to($color-bottom));
  background-image: -webkit-linear-gradient(top, $color-top, $color-bottom);
  background-image:    -moz-linear-gradient(top, $color-top, $color-bottom);
  background-image:     -ms-linear-gradient(top, $color-top, $color-bottom);
  background-image:      -o-linear-gradient(top, $color-top, $color-bottom);
  background-image:         linear-gradient(top, $color-top, $color-bottom); /* standard, but currently unimplemented */
}

// Adds a round border to all sides of the element.
@mixin border-radius($radius) {
  border-radius:         $radius;
  -moz-border-radius:    $radius;
  -webkit-border-radius: $radius;
}

// Adds an elliptical border to the top bottom sides of the element.
@mixin border-radius-elliptical($radius-horizontal, $radius-vertical) {
  border-radius:          #{$radius-horizontal} / #{$radius-vertical};
  -moz-border-radius:     #{$radius-horizontal} / #{$radius-vertical};
  -webkit-border-radius:  #{$radius-horizontal} / #{$radius-vertical};
}

// Adds a round border to the bottom side of the element.
@mixin border-bottom-radius($radius) {
  border-radius:         0 0 $radius $radius;
  -moz-border-radius:    0 0 $radius $radius;
  -webkit-border-radius: 0 0 $radius $radius;
}

// Adds a round border to the left side of the element.
@mixin border-left-radius($radius) {
  border-radius:         $radius 0 0 $radius;
  -moz-border-radius:    $radius 0 0 $radius;
  -webkit-border-radius: $radius 0 0 $radius;
}

// Adds a round border to the right side of the element.
@mixin border-right-radius($radius) {
  border-radius:         0 $radius $radius 0;
  -moz-border-radius:    0 $radius $radius 0;
  -webkit-border-radius: 0 $radius $radius 0;
}

// Adds a round border to the top side of the element.
@mixin border-top-radius($radius) {
  border-radius:         $radius $radius 0 0;
  -moz-border-radius:    $radius $radius 0 0;
  -webkit-border-radius: $radius $radius 0 0;
}

// Adds a round border to the bottom left corner of the element.
@mixin border-bottom-left-radius($radius) {
  border-bottom-left-radius:         $radius;
  -moz-border-radius-bottom-left:    $radius;
  -webkit-border-bottom-left-radius: $radius;
}

// Adds a round border to the bottom right corner of the element.
@mixin border-bottom-right-radius($radius) {
  border-bottom-right-radius:         $radius;
  -moz-border-radius-bottom-right:    $radius;
  -webkit-border-bottom-right-radius: $radius;
}

// Adds a round border to the top left corner of the element.
@mixin border-top-left-radius($radius) {
  border-top-left-radius:         $radius;
  -moz-border-radius-top-left:    $radius;
  -webkit-border-top-left-radius: $radius;
}

// Adds a round border to the top right corner of the element.
@mixin border-top-right-radius($radius) {
  border-top-right-radius:         $radius;
  -moz-border-radius-top-right:    $radius;
  -webkit-border-top-right-radius: $radius;
}

// Adds a box shadow to the element.
@mixin box-shadow($offset-x, $offset-y, $blur-radius, $color) {
  box-shadow:         $offset-x $offset-y $blur-radius $color;
  -moz-box-shadow:    $offset-x $offset-y $blur-radius $color;
  -webkit-box-shadow: $offset-x $offset-y $blur-radius $color;
}

// Adds an inset box shadow to the element.
@mixin box-shadow-inset($offset-x, $offset-y, $blur-radius, $color) {
  box-shadow:         inset $offset-x $offset-y $blur-radius $color;
  -moz-box-shadow:    inset $offset-x $offset-y $blur-radius $color;
  -webkit-box-shadow: inset $offset-x $offset-y $blur-radius $color;
}

@mixin form-field-border {
  border: {
    bottom-color: #999; /* TODO color */
    left-color: #ccc; /* TODO color */
    right-color: #999; /* TODO color */
    style: solid;
    top-color: #ccc; /* TODO color */
    width: 0.0625em; /* 1px */
  }
}
