@import 'colors.scss';
@import 'font-stacks.scss';
@import 'mixins.scss';

/* DEBUG (uncomment to debug horizontal grid) */
/*
* {
  background-color: rgba(255,0,0,.1);
}

body {
  background: {
    image: url(../images/960.gs/16_col.gif);
    position: center top;
    repeat: repeat-y;
  }
}
*/