@charset "UTF-8";
a, abbr, address, b, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, samp, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, ul, var {
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

:focus {
  outline: 0; }

html {
  background-color: #fdfdfd;
  overflow-y: scroll; }

body {
  background-color: inherit;
  color: #3e3e3e;
  font: 62.5%/1 Georgia, Times, "Times New Roman", serif; }
  body > footer {
    display: block;
    overflow: hidden; }
    @media (max-width: 480px) {
      body > footer {
        float: none;
        margin: 0 auto 0 auto;
        padding: 0.6em 0 1.2em 0;
        width: 96%; } }
    @media (min-width: 481px) and (max-width: 767px) {
      body > footer {
        margin: 0 auto 0 auto;
        padding: 0.6em 0 1.2em 0;
        width: 47em; } }
    @media (min-width: 768px) and (max-width: 979px) {
      body > footer {
        margin: 0 auto 0 auto;
        padding: 0.6em 0 1.2em 0;
        width: 74.8em; } }
    @media (min-width: 980px) and (max-width: 1199px) {
      body > footer {
        margin: 0 auto 0 auto;
        padding: 0.6em 0 1.2em 0;
        width: 94em; } }
    @media (min-width: 1200px) {
      body > footer {
        margin: 0 auto 0 auto;
        padding: 0.6em 0 1.2em 0;
        width: 118em; } }
    body > footer li {
      font-size: 1.5em;
      line-height: 1.6em;
      margin-bottom: 0; }
    body > footer p {
      font-size: 1.5em;
      line-height: 1.6em;
      text-align: right; }
      body > footer p:last-child {
        margin-bottom: 0; }
  body > header {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow: hidden; }
    @media (max-width: 480px) {
      body > header {
        float: none;
        margin: 0 auto 0 auto;
        padding: 0.6em 0 0.6em 0;
        width: 96%; } }
    @media (min-width: 481px) and (max-width: 767px) {
      body > header {
        margin: 0 auto 0 auto;
        padding: 0.6em 0 0.6em 0;
        width: 47em; } }
    @media (min-width: 768px) and (max-width: 979px) {
      body > header {
        margin: 0 auto 0 auto;
        padding: 0.6em 0 0.6em 0;
        width: 74.8em; } }
    @media (min-width: 980px) and (max-width: 1199px) {
      body > header {
        margin: 0 auto 0 auto;
        padding: 0.6em 0 0.6em 0;
        width: 94em; } }
    @media (min-width: 1200px) {
      body > header {
        margin: 0 auto 0 auto;
        padding: 0.6em 0 0.6em 0;
        width: 118em; } }
    body > header h1 {
      font-size: 2em;
      line-height: 1.5em;
      margin: 0; }
      body > header h1 > a {
        display: inline-block; }
        body > header h1 > a:active, body > header h1 > a:focus, body > header h1 > a:hover, body > header h1 > a:link, body > header h1 > a:visited {
          color: inherit; }
  body nav {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow: hidden; }
    @media (max-width: 480px) {
      body nav {
        float: none;
        margin: 0 auto 1.2em auto;
        padding: 0.6em 0 0.6em 0;
        width: 96%; } }
    @media (min-width: 481px) and (max-width: 767px) {
      body nav {
        margin: 0 auto 1.2em auto;
        padding: 0.6em 0 0.6em 0;
        width: 47em; } }
    @media (min-width: 768px) and (max-width: 979px) {
      body nav {
        margin: 0 auto 1.2em auto;
        padding: 0.6em 0 0.6em 0;
        width: 74.8em; } }
    @media (min-width: 980px) and (max-width: 1199px) {
      body nav {
        margin: 0 auto 1.2em auto;
        padding: 0.6em 0 0.6em 0;
        width: 94em; } }
    @media (min-width: 1200px) {
      body nav {
        margin: 0 auto 1.2em auto;
        padding: 0.6em 0 0.6em 0;
        width: 118em; } }
    body nav a {
      font-size: 1.6em;
      line-height: 1.5em;
      display: block; }
    body nav li {
      float: left;
      font-size: 1em;
      margin-right: 2em; }
      body nav li:last-of-type {
        margin-right: 0; }
    body nav > ol {
      float: right;
      list-style: none;
      margin-bottom: 0;
      overflow: hidden; }
  @media (max-width: 480px) {
    body > section {
      float: none;
      margin: 0 auto 1.2em auto;
      padding: 0 0 0 0;
      width: 96%; } }
  @media (min-width: 481px) and (max-width: 767px) {
    body > section {
      margin: 0 auto 1.2em auto;
      padding: 0 0 0 0;
      width: 47em; } }
  @media (min-width: 768px) and (max-width: 979px) {
    body > section {
      margin: 0 auto 1.2em auto;
      padding: 0 0 0 0;
      width: 74.8em; } }
  @media (min-width: 980px) and (max-width: 1199px) {
    body > section {
      margin: 0 auto 1.2em auto;
      padding: 0 0 0 0;
      width: 94em; } }
  @media (min-width: 1200px) {
    body > section {
      margin: 0 auto 1.2em auto;
      padding: 0 0 0 0;
      width: 118em; } }

nav {
  display: block; }

article {
  display: block;
  margin-bottom: 1.2em; }

aside {
  display: block;
  margin-bottom: 1.2em;
  padding: 0 1em; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal; }

h1 {
  font-size: 4em;
  line-height: 1.5em;
  font-weight: bold;
  margin: 0.15em 0 0.3em; }
  @media (min-width: 768px) and (max-width: 979px) {
    h1 {
      font-size: 4.8em;
      line-height: 1.5em;
      margin: 0.125em 0 0.25em; } }
  @media (min-width: 980px) and (max-width: 1199px) {
    h1 {
      font-size: 6em;
      line-height: 1.5em;
      margin: 0.1em 0 0.2em; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 7.5em;
      line-height: 1.52em;
      margin: 0.08em 0 0.16em; } }

h2 {
  font-size: 3.2em;
  line-height: 1.5em;
  margin: 0.1875em 0 0.375em; }
  @media (min-width: 768px) and (max-width: 979px) {
    h2 {
      font-size: 4em;
      line-height: 1.5em;
      margin: 0.15em 0 0.3em; } }
  @media (min-width: 980px) and (max-width: 1199px) {
    h2 {
      font-size: 5em;
      line-height: 1.56em;
      margin: 0.12em 0 0.24em; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 6em;
      line-height: 1.5em;
      margin: 0.1em 0 0.2em; } }

h3 {
  font-size: 2.5em;
  line-height: 1.68em;
  margin: 0.24em 0 0.48em; }
  @media (min-width: 768px) and (max-width: 979px) {
    h3 {
      font-size: 3.2em;
      line-height: 1.5em;
      margin: 0.1875em 0 0.375em; } }
  @media (min-width: 980px) and (max-width: 1199px) {
    h3 {
      font-size: 4em;
      line-height: 1.5em;
      margin: 0.15em 0 0.3em; } }
  @media (min-width: 1200px) {
    h3 {
      font-size: 5em;
      line-height: 1.56em;
      margin: 0.12em 0 0.24em; } }

h4 {
  font-size: 2em;
  line-height: 1.5em;
  margin: 0.3em 0 0.6em; }
  @media (min-width: 768px) and (max-width: 979px) {
    h4 {
      font-size: 2.5em;
      line-height: 1.68em;
      margin: 0.24em 0 0.48em; } }
  @media (min-width: 980px) and (max-width: 1199px) {
    h4 {
      font-size: 3.2em;
      line-height: 1.5em;
      margin: 0.1875em 0 0.375em; } }
  @media (min-width: 1200px) {
    h4 {
      font-size: 4em;
      line-height: 1.5em;
      margin: 0.15em 0 0.3em; } }

h5 {
  font-size: 1.6em;
  line-height: 1.5em;
  margin: 0.375em 0 0.75em; }
  @media (min-width: 768px) and (max-width: 979px) {
    h5 {
      font-size: 2em;
      line-height: 1.5em;
      margin: 0.3em 0 0.6em; } }
  @media (min-width: 980px) and (max-width: 1199px) {
    h5 {
      font-size: 2.4em;
      line-height: 1.5em;
      margin: 0.25em 0 0.5em; } }
  @media (min-width: 1200px) {
    h5 {
      font-size: 3em;
      line-height: 1.6em;
      margin: 0.2em 0 0.4em; } }

h6 {
  font-size: 1.6em;
  line-height: 1.5em;
  margin: 0.375em 0 0.75em; }
  @media (min-width: 1200px) {
    h6 {
      font-size: 2em;
      line-height: 1.5em;
      margin: 0.3em 0 0.6em; } }

> header {
  display: block; }

footer {
  display: block; }

address {
  font-style: italic; }

p {
  font-size: 1.6em;
  line-height: 1.5em;
  margin-bottom: 1.5em; }

hr {
  border-color: #7d7d7d;
  border-style: solid;
  border-width: 0.1em 0 0 0;
  margin: 1.1em 6em 1.2em; }

pre {
  border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  box-shadow: inset 0 0 0.125em #3e3e3e;
  -moz-box-shadow: inset 0 0 0.125em #3e3e3e;
  -webkit-box-shadow: inset 0 0 0.125em #3e3e3e;
  font-size: 1.6em;
  line-height: 1.5em;
  background: #e3e3e3;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 1.5em;
  padding: 0.375em 0.625em; }
  pre > code {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    background: none;
    margin: 0;
    padding: 0; }

blockquote {
  border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  box-shadow: 0 0 0.1em #3e3e3e;
  -moz-box-shadow: 0 0 0.1em #3e3e3e;
  -webkit-box-shadow: 0 0 0.1em #3e3e3e;
  background: #e3e3e3;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  margin: 0 6em 2.4em;
  padding: 1.2em 2em; }
  blockquote > cite::before {
    content: '– '; }
  blockquote > p:last-of-type {
    margin-bottom: 0; }

ol {
  list-style-position: inside;
  list-style-type: decimal;
  margin-bottom: 1.2em; }
  ol > li {
    font-size: 1.6em;
    line-height: 1.5em; }
    ol > li > ol {
      list-style-type: lower-alpha;
      margin-bottom: 0; }
      ol > li > ol > li > ol {
        list-style-type: lower-roman; }
    ol > li > ul {
      margin-bottom: 0; }

ul {
  list-style-position: inside;
  list-style-style-type: disc;
  margin-bottom: 1.2em; }
  ul > li {
    font-size: 1.6em;
    line-height: 1.5em; }
    ul > li > ol {
      margin-bottom: 0; }
    ul > li > ul {
      list-style-type: circle;
      margin-bottom: 0; }
      ul > li > ul > li > ul {
        list-style-type: square; }

li > ol > li,
li > ul > li {
  font-size: 1em;
  line-height: 1.6em;
  margin-left: 1.2em; }

dl {
  margin-bottom: 1.2em; }

dt {
  font-size: 1.6em;
  line-height: 1.5em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold; }
  @media (min-width: 768px) and (max-width: 979px) {
    dt {
      font-size: 2em;
      line-height: 1.5em; } }
  @media (min-width: 980px) and (max-width: 1199px) {
    dt {
      font-size: 2em;
      line-height: 1.5em; } }
  @media (min-width: 1200px) {
    dt {
      font-size: 2em;
      line-height: 1.5em; } }

dd {
  font-size: 1.6em;
  line-height: 1.5em;
  margin: 0 0 0.75em 1.25em; }

figure {
  border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  box-shadow: 0 0 0.1em #3e3e3e;
  -moz-box-shadow: 0 0 0.1em #3e3e3e;
  -webkit-box-shadow: 0 0 0.1em #3e3e3e;
  background: #e3e3e3;
  margin: 0 0 2.4em;
  padding: 1.2em 0 0; }
  figure > img {
    display: block;
    margin: 0 auto 1.2em; }

figcaption {
  font-size: 1.5em;
  line-height: 1.6em;
  background: #bdbdbd;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: italic;
  padding: 0.4em 1em;
  text-align: center; }

a {
  color: #3581fc; }
  a:focus {
    outline: 1px dotted #3e3e3e;
    text-decoration: underline; }
  a:hover {
    color: #80b0fd;
    text-decoration: underline; }
  a:link {
    text-decoration: underline; }
  a:visited {
    text-decoration: underline; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

cite {
  font-size: 1.2em;
  line-height: 1.5em;
  font-style: italic;
  font-weight: bold; }

q {
  border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  box-shadow: 0 0 0.063em #7d7d7d;
  -moz-box-shadow: 0 0 0.063em #7d7d7d;
  -webkit-box-shadow: 0 0 0.063em #7d7d7d;
  background: #bdbdbd;
  display: inline-block;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  margin: 0 0.125em;
  padding: 0 0.3125em; }
  q::after {
    content: '"'; }
  q::before {
    content: '"'; }

dfn {
  font-style: italic; }

abbr {
  border-bottom: 0.0625em dotted;
  cursor: help;
  font-variant: normal;
  letter-spacing: 0.0625em;
  text-transform: uppercase; }

code {
  border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  box-shadow: inset 0 0 0.125em #3e3e3e;
  -moz-box-shadow: inset 0 0 0.125em #3e3e3e;
  -webkit-box-shadow: inset 0 0 0.125em #3e3e3e;
  background: #e3e3e3;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  margin: 0 0.125em;
  padding: 0 0.3125em; }

var {
  font-family: "Courier New", Courier, monospace;
  font-style: italic; }

samp {
  font-family: "Courier New", Courier, monospace; }

kbd {
  font-family: "Courier New", Courier, monospace; }

i {
  font-style: italic; }

b {
  font-weight: bold; }

mark {
  border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  box-shadow: 0 0 0.063em #3e3e3e;
  -moz-box-shadow: 0 0 0.063em #3e3e3e;
  -webkit-box-shadow: 0 0 0.063em #3e3e3e;
  background: #ffec72;
  color: inherit;
  display: inline-block;
  margin: 0 0.125em;
  padding: 0 0.3125em; }

ins {
  border-bottom: 0.0625em dashed;
  font-style: italic;
  text-decoration: none; }

del {
  color: #3e3e3e;
  font-style: italic;
  text-decoration: line-through; }

table {
  border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  background: #fdfdfd;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.2em;
  width: 100%; }

tbody th {
  font-weight: normal; }
tbody > tr:nth-child(odd) {
  background: #e3e3e3; }

thead {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

tfoot > tr {
  border-bottom: none; }

tr {
  border-bottom: 0.1em solid #7d7d7d; }

td {
  font-size: 1.6em;
  line-height: 1.5em;
  padding: 0 0.625em; }

th {
  font-size: 1.6em;
  line-height: 1.5em;
  font-weight: bold;
  padding: 0.1875em 0.625em;
  text-align: left; }

form {
  margin-bottom: 1.2em; }
  form > fieldset > legend {
    position: absolute;
    text-indent: -999em; }

fieldset {
  clear: left;
  line-height: 1; }
  fieldset > div {
    margin-bottom: 1.2em;
    overflow: hidden;
    position: relative; }
    fieldset > div > label[data-unit]::after {
      color: #7d7d7d;
      content: attr(data-unit);
      font-size: 0.75em;
      line-height: 2.5em;
      position: absolute;
      left: 20em;
      text-align: right;
      top: 2.5em;
      width: 2.5em; }
    fieldset > div > label[data-unit] + input[type="text"] {
      padding-right: 3.0625em;
      width: 14.0625em; }
    fieldset > div > p {
      font-size: 1.2em;
      line-height: 1.5em;
      clear: left;
      color: #7d7d7d;
      margin-bottom: 0; }
    fieldset > div > span {
      float: left;
      font-size: 1.2em;
      line-height: 2.5em; }
  fieldset > fieldset {
    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border: 0.1em solid #7d7d7d;
    margin-bottom: 1.2em;
    padding: 0.5em 0.9em 1.1em; }
    fieldset > fieldset > div {
      margin-bottom: 0; }
    fieldset > fieldset > legend {
      padding: 0 0.625em; }

legend {
  font-size: 1.6em;
  line-height: 1.5em;
  color: #3e3e3e;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.025em; }

label {
  display: block;
  float: left;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.6em;
  line-height: 1.875em; }

input[type="checkbox"], input[type="radio"] {
  float: left;
  font-size: 1.6em;
  height: 1.875em;
  margin: 0 0.625em 0 0;
  padding: 0; }
input[type="color"] {
  border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  border: none;
  clear: left;
  float: left;
  font: 1.6em/1em Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 0;
  width: 60px; }
input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  background: #fdfdfd;
  border-color: #7d7d7d #bdbdbd #bdbdbd #7d7d7d;
  border-style: solid;
  border-width: 0.0625em;
  /* 1px */
  clear: left;
  float: left;
  font: 1.6em/1em Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 1em;
  margin: 0 0.625em 0 0;
  padding: 0.375em 0.25em;
  width: 16.875em;
  width: 18.125em; }
  input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus {
    border-color: #3581fc; }
input[type="range"] {
  clear: left;
  float: left; }

button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"] {
  background-color: #e3e3e3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#e3e3e3));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #e3e3e3);
  background-image: -moz-linear-gradient(top, #fdfdfd, #e3e3e3);
  background-image: -ms-linear-gradient(top, #fdfdfd, #e3e3e3);
  background-image: -o-linear-gradient(top, #fdfdfd, #e3e3e3);
  background-image: linear-gradient(top, #fdfdfd, #e3e3e3);
  /* standard, but currently unimplemented */
  border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  border-color: #bdbdbd #7d7d7d #7d7d7d #bdbdbd;
  border-style: solid;
  border-width: 0.0625em;
  /* 1px */
  color: #3e3e3e;
  float: left;
  font: 1.6em/1.75em Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 1.75em;
  margin: 0 0.3125em 0 0;
  padding: 0 0.875em; }
  button:active, input[type="submit"]:active, input[type="image"]:active, input[type="reset"]:active, input[type="button"]:active {
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#fdfdfd));
    background-image: -webkit-linear-gradient(top, #e3e3e3, #fdfdfd);
    background-image: -moz-linear-gradient(top, #e3e3e3, #fdfdfd);
    background-image: -ms-linear-gradient(top, #e3e3e3, #fdfdfd);
    background-image: -o-linear-gradient(top, #e3e3e3, #fdfdfd);
    background-image: linear-gradient(top, #e3e3e3, #fdfdfd);
    /* standard, but currently unimplemented */
    border-color: #3e3e3e; }
  button:hover, input[type="submit"]:hover, input[type="image"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#fdfdfd));
    background-image: -webkit-linear-gradient(top, #e3e3e3, #fdfdfd);
    background-image: -moz-linear-gradient(top, #e3e3e3, #fdfdfd);
    background-image: -ms-linear-gradient(top, #e3e3e3, #fdfdfd);
    background-image: -o-linear-gradient(top, #e3e3e3, #fdfdfd);
    background-image: linear-gradient(top, #e3e3e3, #fdfdfd);
    /* standard, but currently unimplemented */
    cursor: pointer; }
  button[disabled], input[disabled][type="submit"], input[disabled][type="image"], input[disabled][type="reset"], input[disabled][type="button"] {
    background: #e3e3e3;
    color: #bdbdbd;
    text-shadow: 0 -1px 0 #fdfdfd; }
    button[disabled]:hover, input[disabled][type="submit"]:hover, input[disabled][type="image"]:hover, input[disabled][type="reset"]:hover, input[disabled][type="button"]:hover {
      border-bottom-color: #e3e3e3;
      border-left-color: #7d7d7d;
      border-right-color: #e3e3e3;
      border-style: solid;
      border-top-color: #7d7d7d;
      border-width: 0.0625em;
      /* 1px */ }

select {
  clear: left;
  float: left;
  margin: 0 0.5em 0 0; }
  select ~ select {
    clear: none; }

textarea {
  border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  background: #fdfdfd;
  border-color: #7d7d7d #bdbdbd #bdbdbd #7d7d7d;
  border-style: solid;
  border-width: 0.0625em;
  /* 1px */
  clear: left;
  float: left;
  font: 1.6em/1.5em Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  min-height: 9em;
  padding: 0.3125em 0.25em;
  width: 35.628em; }
  textarea:focus {
    border-color: #ec7a6b; }
