body > header {
  background: #e33d27;
  margin: 0;
  padding: 0;
  width: 100%; }
  @media (max-width: 479px) {
    body > header div {
      float: none;
      margin: 0;
      padding: 0;
      width: 100%; } }
  @media (min-width: 480px) and (max-width: 719px) {
    body > header div {
      margin: 0 auto 0 auto;
      padding: 0 0 0 0;
      width: 47.4em; } }
  @media (min-width: 720px) and (max-width: 959px) {
    body > header div {
      margin: 0 auto 0 auto;
      padding: 0 0 0 0;
      width: 71.1em; } }
  @media (min-width: 960px) and (max-width: 1199px) {
    body > header div {
      margin: 0 auto 0 auto;
      padding: 0 0 0 0;
      width: 94.8em; } }
  @media (min-width: 1200px) {
    body > header div {
      margin: 0 auto 0 auto;
      padding: 0 0 0 0;
      width: 118.5em; } }

h2 {
  font-weight: bold;
  text-align: center; }

#characteristics {
  list-style: none;
  overflow: hidden; }
  #characteristics > li {
    float: left;
    font-size: 1em;
    line-height: 1em; }
    @media (max-width: 479px) {
      #characteristics > li {
        float: none;
        margin: 0;
        padding: 0;
        width: 100%; } }
    @media (min-width: 480px) and (max-width: 719px) {
      #characteristics > li {
        margin: 0 0.6em 0 0;
        padding: 0 0 0 0;
        width: 11.4em; } }
    @media (min-width: 720px) and (max-width: 959px) {
      #characteristics > li {
        margin: 0 0.9em 0 0;
        padding: 0 0 0 0;
        width: 17.1em; } }
    @media (min-width: 960px) and (max-width: 1199px) {
      #characteristics > li {
        margin: 0 1.2em 0 0;
        padding: 0 0 0 0;
        width: 22.8em; } }
    @media (min-width: 1200px) {
      #characteristics > li {
        margin: 0 1.5em 0 0;
        padding: 0 0 0 0;
        width: 28.5em; } }
    #characteristics > li:last-of-type {
      margin-right: 0; }
