a, abbr, address, b, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, samp, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, ul, var {
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

:focus {
  outline: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

@font-face {
  font-family: "Skeletal Icons";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Skeletal-Icons/icons.eot");
  src: url("../fonts/Skeletal-Icons/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/Skeletal-Icons/icons.woff") format("woff"), url("../fonts/Skeletal-Icons/icons.ttf") format("truetype"), url("../fonts/Skeletal-Icons/icons.svg#Skeletal-Icons") format("svg"); }

html {
  background-color: #fdfdfd;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

body {
  background-color: inherit;
  color: #3e3e3e;
  font: 62.5%/1 Georgia, Times, "Times New Roman", serif; }

section {
  display: block; }

nav {
  display: block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
  nav a {
    display: block;
    font-size: 1em; }
  nav li {
    float: left;
    font-size: 1em;
    margin-right: 1em; }
    nav li:last-of-type {
      margin-right: 0; }
  nav > ol {
    list-style: none;
    margin-bottom: 0;
    overflow: hidden; }

article {
  display: block;
  margin-bottom: 1.2em; }

aside {
  display: block;
  margin-bottom: 1.2em; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal; }

h1 {
  font-size: 2.4em;
  line-height: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em; }
  h1 > a {
    display: inline-block; }
    h1 > a:active, h1 > a:focus, h1 > a:link, h1 > a:visited {
      color: inherit; }

h2 {
  font-size: 3.2em;
  line-height: 1.5em;
  margin-bottom: 0.1875em; }
  @media (min-width: 720px) and (max-width: 959px) {
    h2 {
      font-size: 4em;
      line-height: 1.5em;
      margin-bottom: 0.15em; } }
  @media (min-width: 960px) and (max-width: 1199px) {
    h2 {
      font-size: 5em;
      line-height: 1.56em;
      margin-bottom: 0.12em; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 6em;
      line-height: 1.5em;
      margin-bottom: 0.1em; } }

h3 {
  font-size: 2.5em;
  line-height: 1.68em;
  margin-bottom: 0.24em; }
  @media (min-width: 720px) and (max-width: 959px) {
    h3 {
      font-size: 3.2em;
      line-height: 1.5em;
      margin-bottom: 0.1875em; } }
  @media (min-width: 960px) and (max-width: 1199px) {
    h3 {
      font-size: 4em;
      line-height: 1.5em;
      margin-bottom: 0.15em; } }
  @media (min-width: 1200px) {
    h3 {
      font-size: 5em;
      line-height: 1.56em;
      margin-bottom: 0.12em; } }

h4 {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 0.3em; }
  @media (min-width: 720px) and (max-width: 959px) {
    h4 {
      font-size: 2.5em;
      line-height: 1.68em;
      margin-bottom: 0.24em; } }
  @media (min-width: 960px) and (max-width: 1199px) {
    h4 {
      font-size: 3.2em;
      line-height: 1.5em;
      margin-bottom: 0.1875em; } }
  @media (min-width: 1200px) {
    h4 {
      font-size: 4em;
      line-height: 1.5em;
      margin-bottom: 0.15em; } }

h5 {
  font-size: 1.6em;
  line-height: 1.5em;
  margin-bottom: 0.375em; }
  @media (min-width: 720px) and (max-width: 959px) {
    h5 {
      font-size: 2em;
      line-height: 1.5em;
      margin-bottom: 0.3em; } }
  @media (min-width: 960px) and (max-width: 1199px) {
    h5 {
      font-size: 2.4em;
      line-height: 1.5em;
      margin-bottom: 0.25em; } }
  @media (min-width: 1200px) {
    h5 {
      font-size: 3em;
      line-height: 1.6em;
      margin-bottom: 0.2em; } }

h6 {
  font-size: 1.6em;
  line-height: 1.5em;
  margin-bottom: 0.375em; }
  @media (min-width: 1200px) {
    h6 {
      font-size: 2em;
      line-height: 1.5em;
      margin-bottom: 0.3em; } }

header {
  display: block; }

footer {
  display: block;
  overflow: hidden; }
  footer li {
    font-size: 1.5em;
    line-height: 1.6em;
    margin-bottom: 0; }
  footer p {
    font-size: 1.5em;
    line-height: 1.6em; }

address {
  font-style: italic; }

p {
  font-size: 1.6em;
  line-height: 1.5em;
  margin-bottom: 1.5em; }
  @media (min-width: 1200px) {
    p {
      font-size: 2em;
      line-height: 1.5em; } }

hr {
  border-color: #7d7d7d;
  border-style: solid;
  border-width: 0.1em 0 0 0;
  margin: 0 6em 2.3em; }

pre {
  font-size: 1.6em;
  line-height: 1.5em;
  border-left: 0.3125em solid #3e3e3e;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 1.5em;
  padding: 0.375em 0 0.375em 0.9375em; }

blockquote {
  border-left: 0.5em solid #ffe226;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  margin: 0 4em 2.4em;
  padding: 0.6em 0 0.6em 1.5em; }
  @media (min-width: 480px) and (max-width: 719px) {
    blockquote {
      margin: 0 4em 2.4em; } }
  @media (min-width: 720px) and (max-width: 959px) {
    blockquote {
      margin: 0 6em 2.4em; } }
  @media (min-width: 960px) and (max-width: 1199px) {
    blockquote {
      margin: 0 8em 2.4em; } }
  @media (min-width: 1200px) {
    blockquote {
      margin: 0 10em 2.4em; } }
  blockquote > cite::before {
    content: '\2014 '; }

ol {
  list-style-position: inside;
  list-style-type: decimal;
  margin-bottom: 2.4em; }
  ol > li {
    font-size: 1.6em;
    line-height: 1.5em; }
    @media (min-width: 1200px) {
      ol > li {
        font-size: 2em;
        line-height: 1.5em; } }
    ol > li > ol {
      list-style-type: lower-alpha;
      margin-bottom: 0; }
      ol > li > ol > li > ol {
        list-style-type: lower-roman; }
    ol > li > ul {
      margin-bottom: 0; }

ul {
  list-style-position: inside;
  list-style-style-type: disc;
  margin-bottom: 2.4em; }
  ul > li {
    font-size: 1.6em;
    line-height: 1.5em; }
    @media (min-width: 1200px) {
      ul > li {
        font-size: 2em;
        line-height: 1.5em; } }
    ul > li > ol {
      margin-bottom: 0; }
    ul > li > ul {
      list-style-type: circle;
      margin-bottom: 0; }
      ul > li > ul > li > ul {
        list-style-type: square; }

li > ol > li,
li > ul > li {
  font-size: 1em;
  line-height: 1.6em;
  margin-left: 1.2em; }

dl {
  margin-bottom: 1.2em; }

dt {
  font-size: 1.6em;
  line-height: 1.5em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold; }
  @media (min-width: 720px) and (max-width: 959px) {
    dt {
      font-size: 2em;
      line-height: 1.5em; } }
  @media (min-width: 960px) and (max-width: 1199px) {
    dt {
      font-size: 2em;
      line-height: 1.5em; } }
  @media (min-width: 1200px) {
    dt {
      font-size: 2em;
      line-height: 1.5em; } }

dd {
  font-size: 1.6em;
  line-height: 1.5em;
  margin: 0 0 0.75em 1.25em; }

figure {
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-box-shadow: 0 0 0.1em #3e3e3e;
  box-shadow: 0 0 0.1em #3e3e3e;
  background: #e3e3e3;
  margin: 0 0 2.4em;
  padding: 1.2em 0 0; }
  figure > img {
    margin: 0 auto 1.2em; }

figcaption {
  font-size: 1.5em;
  line-height: 1.6em;
  background: #bdbdbd;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: italic;
  padding: 0.4em 1em;
  text-align: center; }

a {
  color: #3581fc;
  text-decoration: underline; }
  a:focus {
    outline: 1px dotted #3e3e3e; }
  a:visited {
    color: #904fff; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

cite {
  font-size: 1.2em;
  line-height: 1.5em;
  font-style: italic;
  font-weight: bold; }

q {
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  -webkit-box-shadow: 0 0 0.0625em #7d7d7d;
  box-shadow: 0 0 0.0625em #7d7d7d;
  background: #bdbdbd;
  display: inline-block;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  margin: 0 0.125em;
  padding: 0 0.3125em; }
  q::after {
    content: '"'; }
  q::before {
    content: '"'; }

dfn {
  font-style: italic; }

abbr {
  border-bottom: 0.0625em dotted;
  cursor: help;
  font-variant: normal;
  letter-spacing: 0.0625em;
  text-transform: uppercase; }

code {
  font-family: "Courier New", Courier, monospace; }

var {
  font-family: "Courier New", Courier, monospace;
  font-style: italic; }

samp {
  font-family: "Courier New", Courier, monospace; }

kbd {
  font-family: "Courier New", Courier, monospace; }

sub,
sup {
  font-size: 0.6em;
  position: relative; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

i {
  font-style: italic; }

b {
  font-weight: bold; }

mark {
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  -webkit-box-shadow: 0 0 0.0625em #3e3e3e;
  box-shadow: 0 0 0.0625em #3e3e3e;
  background: #ffec72;
  color: inherit;
  display: inline-block;
  margin: 0 0.125em;
  padding: 0 0.3125em; }

ins {
  border-bottom: 0.0625em dashed;
  text-decoration: none; }

del {
  color: #3e3e3e;
  text-decoration: line-through; }

img {
  display: block; }

table {
  background: #fdfdfd;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2.4em;
  width: 100%; }

tbody th {
  background: #ffec72; }
tbody > tr:nth-child(even) {
  background: #fff3a5; }

thead {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
  thead th {
    text-align: center; }

thead,
tfoot {
  background: #e3e3e3; }

tr > th:first-of-type {
  text-align: right; }

td {
  font-size: 1.6em;
  line-height: 1.5em;
  padding: 0.375em 0.625em; }

th {
  font-size: 1.6em;
  line-height: 1.5em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  padding: 0.375em 0.625em;
  text-align: left; }

form {
  margin-bottom: 2.4em;
  overflow: hidden; }
  form > fieldset > legend {
    position: absolute;
    text-indent: -999em; }

fieldset {
  clear: left;
  line-height: 1; }
  fieldset > div {
    overflow: hidden;
    position: relative; }
    fieldset > div > p {
      font-size: 1.2em;
      line-height: 1.5em;
      clear: left;
      color: #7d7d7d;
      margin-bottom: 0; }
    fieldset > div > span {
      float: left;
      font-size: 1.2em;
      line-height: 2.5em; }
  fieldset > fieldset {
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    border: 0.1em solid #7d7d7d;
    margin-bottom: 1.2em;
    padding: 0.5em 0.9em 1.1em; }
    fieldset > fieldset > div {
      margin-bottom: 0; }
    fieldset > fieldset > legend {
      padding: 0 0.625em; }

legend {
  font-size: 1.6em;
  line-height: 1.5em;
  color: #3e3e3e;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.025em; }

label {
  cursor: pointer;
  display: block;
  float: left;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.6em;
  line-height: 1.875em; }
  label:hover + input {
    border-color: #ffe226; }

input[type="checkbox"], input[type="radio"] {
  display: none; }
  input[type="checkbox"]:checked + label::before, input[type="radio"]:checked + label::before {
    color: #3e3e3e; }
  input[type="checkbox"] + label, input[type="radio"] + label {
    display: inline-block;
    clear: both; }
    input[type="checkbox"] + label::before, input[type="radio"] + label::before {
      background: #e3e3e3;
      border: 0.0625em solid #bdbdbd;
      color: #e3e3e3;
      content: '';
      display: inline-block;
      font-family: 'Skeletal Icons';
      height: 1em;
      line-height: 1em;
      margin-right: 0.4375em;
      padding: 0.1875em;
      text-align: center;
      width: 1em; }
    input[type="checkbox"] + label:hover::before, input[type="radio"] + label:hover::before {
      border-color: #ffe226; }
input[type="checkbox"] + label::before {
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  content: "\e001"; }
input[type="radio"] + label::before {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: "\e003"; }
input[type="color"] {
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  border: none;
  clear: left;
  float: left;
  font: 1.6em/1em Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 0;
  width: 60px; }
input[type="text"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"] {
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  font-size: 1.6em;
  line-height: 1.5em;
  background: #fdfdfd;
  border: 0.0625em solid #bdbdbd;
  clear: left;
  color: #3e3e3e;
  float: left;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 1.5em;
  margin: 0 2% 0.75em 0;
  padding: 0.3125em 0.5625em;
  width: 90%; }
  @media (min-width: 480px) and (max-width: 719px) {
    input[type="text"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"] {
      margin-right: 0.5em;
      width: 13.25em; } }
  @media (min-width: 720px) and (max-width: 959px) {
    input[type="text"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"] {
      margin-right: 0.75em;
      width: 20.5em; } }
  @media (min-width: 960px) and (max-width: 1199px) {
    input[type="text"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"] {
      margin-right: 1.0em;
      width: 27.75em; } }
  @media (min-width: 1200px) {
    input[type="text"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"] {
      margin-right: 2.0em;
      margin-right: 1.25em;
      width: 35em; } }
  input[type="text"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus {
    border-color: #ffe226; }
input[type="range"] {
  clear: left;
  float: left; }

button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"] {
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  background: #e3e3e3;
  border: 0.0625em solid #c5c5c5;
  color: #3e3e3e;
  cursor: pointer;
  float: left;
  font-size: 1.6em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: normal;
  margin: 0 2% 0.75em 0;
  padding: 0.5em 1.1875em; }
  @media (min-width: 480px) and (max-width: 719px) {
    button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"] {
      margin-right: 0.5em; } }
  @media (min-width: 720px) and (max-width: 959px) {
    button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"] {
      margin-right: 0.75em; } }
  @media (min-width: 960px) and (max-width: 1199px) {
    button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"] {
      margin-right: 1.0em; } }
  @media (min-width: 1200px) {
    button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"] {
      margin-right: 1.25em; } }
  button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="image"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
    border: 0;
    padding: 0; }
  button:active, input[type="submit"]:active, input[type="image"]:active, input[type="reset"]:active, input[type="button"]:active {
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(white));
    background-image: -webkit-linear-gradient(top, #e3e3e3, white);
    background-image: linear-gradient(top, #e3e3e3, white);
    /* standard, but currently unimplemented */
    border-color: #a6a6a6; }
  button[disabled], input[disabled][type="submit"], input[disabled][type="image"], input[disabled][type="reset"], input[disabled][type="button"] {
    background: #e3e3e3;
    color: #bdbdbd; }

select {
  clear: left;
  float: left;
  margin: 0 0.5em 0 0; }
  select ~ select {
    clear: none; }

textarea {
  background: #fdfdfd;
  border-color: #7d7d7d #bdbdbd #bdbdbd #7d7d7d;
  border-radius: 0.125em;
  border-style: solid;
  border-width: 0.0625em;
  clear: left;
  float: left;
  font: 1.6em/1.5em Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  min-height: 9em;
  padding: 0.3125em 0.25em;
  width: 35.628em; }
  textarea:focus {
    border-color: #ffec72; }

footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  width: 100%; }
  @media (min-width: 480px) and (max-width: 719px) and (min-width: 480px) and (max-width: 719px) {
    footer,
    header,
    nav,
    section {
      margin: 0 auto;
      padding: 0;
      width: 47.2em; } }
  @media (min-width: 720px) and (max-width: 959px) and (min-width: 720px) and (max-width: 959px) {
    footer,
    header,
    nav,
    section {
      margin: 0 auto;
      padding: 0;
      width: 70.8em; } }
  @media (min-width: 960px) and (max-width: 1199px) and (min-width: 960px) and (max-width: 1199px) {
    footer,
    header,
    nav,
    section {
      margin: 0 auto;
      padding: 0;
      width: 94.4em; } }
  @media (min-width: 1200px) and (min-width: 1200px) {
    footer,
    header,
    nav,
    section {
      margin: 0 auto;
      padding: 0;
      width: 118em; } }

button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"] {
  -webkit-border-radius: 0.125em;
  border-radius: 0.125em;
  background: #ffe226;
  border: 0.0625em solid #e8c900;
  color: #3e3e3e;
  cursor: pointer;
  float: left;
  font-size: 1.6em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: normal;
  margin: 0 2% 0.75em 0;
  padding: 0.5em 1.1875em; }
  @media (min-width: 480px) and (max-width: 719px) {
    button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"] {
      margin-right: 0.5em; } }
  @media (min-width: 720px) and (max-width: 959px) {
    button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"] {
      margin-right: 0.75em; } }
  @media (min-width: 960px) and (max-width: 1199px) {
    button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"] {
      margin-right: 1.0em; } }
  @media (min-width: 1200px) {
    button, input[type="submit"], input[type="image"], input[type="reset"], input[type="button"] {
      margin-right: 1.25em; } }
  button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="image"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
    border: 0;
    padding: 0; }
  button::before, input[type="submit"]::before, input[type="image"]::before, input[type="reset"]::before, input[type="button"]::before {
    content: "\e000";
    float: left;
    font-family: 'Skeletal Icons';
    font-size: 1.25em;
    line-height: 0.8em;
    margin: 0 0.125em 0 0; }
  button:active, input[type="submit"]:active, input[type="image"]:active, input[type="reset"]:active, input[type="button"]:active {
    background-color: #ffea63;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe226), to(#ffea63));
    background-image: -webkit-linear-gradient(top, #ffe226, #ffea63);
    background-image: linear-gradient(top, #ffe226, #ffea63);
    /* standard, but currently unimplemented */
    border-color: #ab9400; }
  button[disabled], input[disabled][type="submit"], input[disabled][type="image"], input[disabled][type="reset"], input[disabled][type="button"] {
    background: #e3e3e3;
    color: #bdbdbd; }
