@import 'skeletal/skeletal.scss';
@import 'demo/demo.scss';

@include font-face(
  $name: 'Entypo',
  $path: '../fonts/Entypo/',
  $eot:  'regular.eot',
  $woff: 'regular.woff',
  $ttf:  'regular.ttf',
  $svg:  'regular.svg#EntypoRegular'
);

@include font-face(
  $name: 'Skeletal',
  $path: '../fonts/Skeletal/',
  $eot:  'regular.eot',
  $woff: 'regular.woff',
  $ttf:  'regular.ttf',
  $svg:  'regular.svg#Skeletal'
);

@include font-face(
  $name: 'Tangerine',
  $path: '../fonts/Tangerine/',
  $eot:  'regular.eot',
  $woff: 'regular.woff',
  $ttf:  'regular.ttf',
  $svg:  'regular.svg#TangerineRegular'
);

@include font-face(
  $name:   'Tangerine',
  $path:   '../fonts/Tangerine/',
  $eot:    'bold.eot',
  $woff:   'bold.woff',
  $ttf:    'bold.ttf',
  $svg:    'bold.svg#TangerineBold',
  $weight: bold
);

body {
  @media (#{ $media-query-extra-small }) {
    margin: 0;
    width: 100%;
  }

  > nav {
    background: $color-brand-darkest;
    border: {
      color: transparentize($color-neutral-darker, 0.4);
      style: solid;
      width: 0.1em 0;
    }
    margin: 0 0 1.8em;
    padding: 1.1em 0;
    width: 100%;

    a {
      &:visited {
        color: $color-link;
      }
    }

    > ol {
      @include grid($number-of-grid-columns, $center: true);

      padding: 0 $grid-extra-small-gutter-width;
      width: $grid-extra-small-column-width;
    }
  }
}

footer {
  background: $color-neutral-lighter;
  border-top: 0.1em solid transparentize($color-neutral-darkest, 0.8);
  padding: 5.9em 0 4.2em;
  text-align: center;

  > div {
    @include grid($number-of-grid-columns, $center: true);

    @media (#{ $media-query-extra-small }) {
      padding: 0 $grid-extra-small-gutter-width;
      width: $grid-extra-small-column-width;
    }
  }
}

header {
  background: $color-brand;
  color: $color-brand-darkest;
  padding: 2.4em 0 2.3em;

  > div {
    @include grid($number-of-grid-columns, $center: true);

    padding: 0 $grid-extra-small-gutter-width;
    width: $grid-extra-small-column-width;
  }

  p {
    @include font-size(4em);

    font: {
      family: 'Tangerine';
      weight: bold;
    }
    margin-bottom: 0;
    text-align: center;
    word-spacing: 0.125em;

    @media (#{ $media-query-medium }) {
      @include font-size(6em);
    }

    @media (#{ $media-query-large }) {
      @include font-size(8em);
    }

    @media (#{ $media-query-extra-large }) {
      @include font-size(10em);
    }
  }
}

p {
  clear: both;
}

section {
  @include grid($number-of-grid-columns, $margin-bottom: 1.8em, $center: true);

  margin-bottom: 1.8em;
  overflow: hidden;
  padding: 0 $grid-extra-small-gutter-width;
  width: $grid-extra-small-column-width;
}


.colors {
  li {
    > code {
      margin: 0.75em 0; // 48px
    }
  }

  section {
    li {
      margin-bottom: 0.375em; // 6px
      overflow: hidden;

      &::before {
        @include border-radius(0.125em); // 2px
        @include box-shadow(inset 0 0 0.0625em $color-neutral-darkest);

        content: '';
        float: left;
        height: 3em; // 48px
        margin-right: 0.625em; // 10px
        width: 3em; // 48px

        @media (#{ $media-query-extra-large }) {
          @include border-radius(0.1em); // 2px

          margin-right: 0.5em; // 10px
        }
      }
    }
  }

  ul {
    list-style: none;
  }
}

.home {
  section {
    ol {
      list-style: none;
      overflow: hidden;
    }

    li {
      @include grid(6, $break-every-nth: 2, $padding: 6em 0 0, $breakpoints: ('medium'));
      @include grid(4, $break-every-nth: 3, $padding: 6em 0 0, $breakpoints: ('large', 'extra-large'));

      font-size: 1em;
      line-height: 1em;
      padding-top: 6em;
      position: relative;

      &::before {
        color: $color-brand;
        font: {
          family: 'Skeletal';
          size: 6em;
        }
        height: 1em;
        line-height: 1em;
        position: absolute;
        text-align: center;
        text-shadow: 0 1px 1px $color-brand-lighter;
        top: 0em;
        width: 100%;
      }

      $icons: ('\e026', '\e005', '\e001', '\e002', '\e010', '\e004');

      @for $i from 1 through length($icons) {
        &:nth-of-type(#{ $i }) {
          &::before {
            content: nth($icons, $i);
          }
        }
      }
    }
  }
}
