@import 'stylesheets/sass/import.scss';

@font-face {
  font: {
    family: 'Quicksand Light';
    style: normal;
    weight: normal;
  }
  src: url('../fonts/quicksand-light/regular.eot');
  src: url('../fonts/quicksand-light/regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/quicksand-light/regular.woff') format('woff'),
      url('../fonts/quicksand-light/regular.ttf') format('truetype'),
      url('../fonts/quicksand-light/regular.svg#QuicksandLight') format('svg');
}

article {
  margin-bottom: 2.4em;
}

aside {
  @include grid(4, $margin: 0);

  float: right;
  font-family: 'Quicksand Light';

  > article {
    // person being quoted
    > p {
      color: $color-neutral-darker;
      text-align: right;
    }
  }

  > p {
    letter-spacing: -0.025em;

    // portrait tablet and above
    @media (min-width: 768px) {
      @include font-size(2em);

      margin-bottom: 0.6em; // 12px
    }
  }
}

blockquote {
  @include grid(4, $margin: 0 0 0.6em, $padding: 0.6em 1em);
}

body {
  @include grid(12, $margin: 0 auto, $padding: 0);

  position: relative;

  &::after {
    $blur-radius:   0.3em;
    $column-offset: 7;

    @include box-shadow-inset($offset-x: 0, $offset-y: 0, $blur-radius: $blur-radius, $color: $color-neutral-darkest);

    background: $color-brand;
    bottom: 4.8em;
    content: '';
    position: absolute;
    top: -($blur-radius);

    // smartphone to tablet
    @media (min-width: 481px) and (max-width: 767px) {
      @include border-radius(0 0 #{$grid-smartphone-to-tablet-gutter-width}/#{$grid-smartphone-to-tablet-column-width});
      @include border-bottom-left-radius($grid-smartphone-to-tablet-column-width);

      left: ($column-offset * ($grid-smartphone-to-tablet-column-width + $grid-smartphone-to-tablet-gutter-width));
      width: $grid-smartphone-to-tablet-column-width;
    }

    // portrait tablet
    @media (min-width: 768px) and (max-width: 979px) {
      @include border-radius(0 0 #{$grid-portrait-tablet-gutter-width}/#{$grid-portrait-tablet-column-width});
      @include border-bottom-left-radius($grid-portrait-tablet-column-width);

      left: ($column-offset * ($grid-portrait-tablet-column-width + $grid-portrait-tablet-gutter-width));
      width: $grid-portrait-tablet-column-width;
    }

    // default
    @media (min-width: 980px) and (max-width: 1199px) {
      @include border-radius(0 0 #{$grid-default-gutter-width}/#{$grid-default-column-width});
      @include border-bottom-left-radius($grid-default-column-width);

      left: ($column-offset * ($grid-default-column-width + $grid-default-gutter-width));
      width: $grid-default-column-width;
    }

    // large display
    @media (min-width: 1200px) {
      @include border-radius(0 0 #{$grid-large-display-gutter-width}/#{$grid-large-display-column-width});
      @include border-bottom-left-radius($grid-large-display-column-width);

      left: ($column-offset * ($grid-large-display-column-width + $grid-large-display-gutter-width));
      width: $grid-large-display-column-width;
    }
  }

  > header {
    @include grid(7, $margin: 0);
  }
}

em {
  @include font-size(1.5em);

  color: $color-neutral-darker;
  display: block;
  margin-bottom: 0.4em; // 6px

  // large display
  @media (min-width: 1200px) {
    @include font-size(1.6em);

    margin-bottom: 0.375em; // 6px
  }
}

h4 {
  background: $color-brand;
  color: $color-neutral-lightest;
  display: inline-block;
  font-family: 'Quicksand Light';
  padding: 0 0.25em;
}

img {
  width: 100%;
}

section {
  @include grid(7, $margin: 0 0 1.2em);

  float: left;

  // "full portfolio" link
  > a {
    @include background-gradient($color-action-lighter, $color-action);
    @include border-radius(0.125em); // 2px
    @include font-size(1.6em);

    color: $color-neutral-darkest;
    display: inline-block;
    padding: 0.375em 1.25em; // 6px 15px

    &:hover {
      color: $color-neutral-lightest;
    }
  }
}
