@import 'import.scss';

article {
  overflow: hidden;

  > a > img {
    @include box-shadow-inset(0, 0, 0.5em, $color-neutral);

    background: $color-neutral-lighter;
    float: left;
    height: 25.5em;
    width: 34em;
  }

  > div {
    float: right;
    width: 22em;
  }
}

blockquote {
  @include box-shadow-inset(0, 0, 0.5em, $color-neutral);

  margin-left: 0;
  margin-right: 0;
}

body {
  @include box-shadow(0, 0, .5em, $color-neutral-darker);

  background-color: $color-neutral-lightest;
  position: relative;

  &:after {
    @include background-gradient($color-brand-lightest, $color-brand-darker);
    @include border-radius(0 0 2em/10em);
    @include border-bottom-left-radius(4em);
    @include box-shadow-inset(0, 0, 0.5em, $color-neutral-darker);

    content: '';
    position: absolute;
    left: 60em;
    bottom: 4.1em;
    top: -.5em;
    width: 6em;
  }
}

cite {
  display: block;
  text-align: right;
}

h1 {
  font-size: 1.5em;
  line-height: 2.4em; /* 36px */
}

header {
  margin: {
    left: 0;
    top: 1.2em;
  }
  width: 58em;
}

html {
  @include background-gradient($color-brand-lightest, $color-brand-darker);
}

nav {
  margin: .6em 0;
}
