@import 'import.scss';

article {
  overflow: hidden;

  > h3 {
    @include font-size(1.6em);
  }

  > img {
    background: $color-highlight-lighter;
    float: left;
    height: 6em;
    margin-right: 2em;
    width: 10em;
  }
}

h1 {
  color: $color-neutral-lightest;
  line-height: 2.4em; /* 72px */
}

header {
  background: $color-neutral-darkest;
  position: relative;
}

nav {
  bottom: 0;
  margin-bottom: 0;
  position: absolute;
  right: 1em;

  > ol > li {
    margin-left: 1em;
    margin-right: 0;

     > a {
      @include border-top-left-radius(0.125em); /* 2px */
      @include border-top-right-radius(0.125em); /* 2px */

      font-size: 1.6em;
      line-height: 2.25em; /* 30px */
      padding: 0 .625em; /* 0 10px */
      text-shadow: 0 .0625em .0625em $color-neutral-darkest; /* 0 1px 1px */

      &#current-item {
        background-color: $color-link;
      }

      &:hover {
        background-color: $color-brand;
      }

      &:link,
      &:visited {
        color: $color-neutral-lightest;
      }
    }
  }
}

section {
  @include grid(12);
}
