<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Skeletal</title>

    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">

    <link rel="shortcut icon" href="/assets/images/theme/favicon.ico">
  </head>

  <body class="{{ page.page_class }}">
    <header>
      <div>
        <h1>
          <a href="/">Skeletal</a>
        </h1>

        <p>
          A clean foundation for a lovely frontend.
        </p>

        <form action="http://github.com/dhabersack/skeletal">
          <input type="submit" value="Check it out on GitHub">
        </form>
      </div>
    </header>

    <nav>
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/colors">Colors</a></li>
        <li><a href="/typography">Typography</a></li>
        <li><a href="/grid">Grid</a></li>
      </ol>
    </nav>

    <section>
      {{ page.content }}
    </section>

    <footer>
      <div>
        <p>
          Built by <a href="http://twitter.com/dhabersack">@dhabersack</a><br>
          Copyright &copy; 2013, <a href="http://islovely.co/">islovely.co</a>
        </p>
      </div>
    </footer>

    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-13202125-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
    </script>
  </body>
</html>
