#button-2 {
  @include button(
    $background-color: $color-highlight
  );
}

#button-3 {
  @include button(
    $icon: $icon-search
  );
}

#button-4 {
  @include button(
    $background-color: $color-action,
    $icon: $icon-check
  );
}

#button-5 {
  @include button(
    $background-color: $color-error,
    $icon: $icon-cross
  );
}

#demo-textfield-1 {
  @include textfield(3);
}

#demo-textfield-2 {
  @include textfield(
    8,
    $breakpoints: ('small')
  );

  @include textfield(
    6,
    $breakpoints: ('medium', 'large')
  );

  @include textfield(
    4,
    $breakpoints: ('extra-large')
  );
}
