$color-red:    #e33d27;
$color-yellow: #ffe226;
$color-green:  #23db2a;
$color-blue:   #3581fc;
$color-violet: #904fff;

$color-gray:   #bdbdbd;
$color-debug:  rgba(#f00, 0.0625);
$color-column: #ffe5e5;
