@import 'import.scss';
@import 'reset.scss';


@include font-face(
  $name: 'Skeletal Icons',
  $path: '../fonts/Skeletal-Icons/',
  $eot:  'icons.eot',
  $woff: 'icons.woff',
  $ttf:  'icons.ttf',
  $svg:  'icons.svg#Skeletal-Icons'
);


//--------------------------------//
// ROOT ELEMENT                   //
//--------------------------------//

// root element
html {
  background-color: $color-neutral-lightest;
  overflow-y: scroll;

  // prevent font scaling in landscape on Safari on iOS
  -webkit-text-size-adjust: 100%;
}


//--------------------------------//
// SECTIONS                       //
//--------------------------------//

// main content
body {
  background-color: inherit;
  color: $color-neutral-darkest;
  font: 62.5%/1 $font-family-content; // 10px/10px
}

// generic section
section {
  display: block;
}

// section with navigation links
nav {
  display: block;
  font-family: $font-family-headings;

  a {
    display: block;
    font-size: 1em;
  }

  li {
    float: left;
    font-size: 1em;
    margin-right: 1em;

    &:last-of-type {
      margin-right: 0;
    }
  }

  > ol {
    list-style: none;
    margin-bottom: 0;
    overflow: hidden;
  }
}

// independently distributable or reusable, self-contained composition
article {
  display: block;
  margin-bottom: 1.2em;
}

// content tangentially related to content around aside element; separate from
// that content (pull quotes, sidebars, advertising, …)
aside {
  display: block;
  margin-bottom: 1.2em;
}

// headings
h1, h2, h3, h4, h5, h6 {
  font: {
    family: $font-family-headings;
    weight: normal;
  }
}

// heading with highest rank
h1 {
  @include font-size(2.4em);

  font-weight: bold;
  margin-bottom: 0.5em; // 12px

  > a {
    display: inline-block;

    &:active,
    &:focus,
    &:link,
    &:visited {
      color: inherit;
    }
  }
}

// heading with second-highest rank
h2 {
  @include font-size(3.2em);

  margin-bottom: 0.1875em; // 6px

  @media (#{ $media-query-medium }) {
    @include font-size(4em);

    margin-bottom: 0.15em; // 6px
  }

  @media (#{ $media-query-large }) {
    @include font-size(5em);

    margin-bottom: 0.12em; // 6px
  }

  @media (#{ $media-query-extra-large }) {
    @include font-size(6em);

    margin-bottom: 0.1em; // 6px
  }
}

// heading with third-highest rank
h3 {
  @include font-size(2.5em);

  margin-bottom: 0.24em; // 6px

  @media (#{ $media-query-medium }) {
    @include font-size(3.2em);

    margin-bottom: 0.1875em; // 6px
  }

  @media (#{ $media-query-large }) {
    @include font-size(4em);

    margin-bottom: 0.15em; // 6px
  }

  @media (#{ $media-query-extra-large }) {
    @include font-size(5em);

    margin-bottom: 0.12em; // 6px
  }
}

// heading with fourth-highest rank
h4 {
  @include font-size(2em);

  margin-bottom: 0.3em; // 6px

  @media (#{ $media-query-medium }) {
    @include font-size(2.5em);

    margin-bottom: 0.24em; // 6px
  }

  @media (#{ $media-query-large }) {
    @include font-size(3.2em);

    margin-bottom: 0.1875em; // 6px
  }

  @media (#{ $media-query-extra-large }) {
    @include font-size(4em);

    margin-bottom: 0.15em; // 6px
  }
}

// heading with fifth-highest rank
h5 {
  @include font-size(1.6em);

  margin-bottom: 0.375em; // 6px

  @media (#{ $media-query-medium }) {
    @include font-size(2em);

    margin-bottom: 0.3em; // 6px
  }

  @media (#{ $media-query-large }) {
    @include font-size(2.4em);

    margin-bottom: 0.25em; // 6px
  }

  @media (#{ $media-query-extra-large }) {
    @include font-size(3em);

    margin-bottom: 0.2em; // 6px
  }
}

// heading with lowest rank
h6 {
  @include font-size(1.6em);

  margin-bottom: 0.375em; // 6px

  @media (#{ $media-query-extra-large }) {
    @include font-size(2em);

    margin-bottom: 0.3em; // 6px
  }
}

// group of headings
hgroup {}

// introductory or navigational aids
header {
  display: block;
}

// footer for nearest ancestor sectioning content or sectioning root element,
// (information about its section such as author, links to related documents,
// copyright data, …)
footer {
  display: block;
  overflow: hidden;

  li {
    @include font-size(1.5em);

    margin-bottom: 0;
  }

  p {
    @include font-size(1.5em);
  }
}

// contact information for its nearest article or body element ancestor
address {
  font-style: italic;
}


//--------------------------------//
// GROUPING CONTENT               //
//--------------------------------//

// paragraph
p {
  @include font-size(1.6em);

  margin-bottom: 1.5em; // 24px

  @media (#{ $media-query-extra-large }) {
    @include font-size(2em);
  }
}

// paragraph-level thematic break
hr {
  border: {
    color: $color-neutral-darker;
    style: solid;
    width: 0.1em 0 0 0; // 1px
  }
  margin: 0 6em 2.3em; // 0px 60px 23px
}

// preformatted text
pre {
  @include font-size(1.6em);

  border-left: 0.3125em solid $color-neutral-darkest; // 5px
  font-family: $font-family-code;
  margin-bottom: 1.5em; // 24px
  padding: 0.375em 0 0.375em 0.9375em; // 6px 0 6px 15px
}

// section that is quoted from another source
blockquote {
  border-left: 0.5em solid $color-highlight;
  font: {
    family: $font-family-quotes;
    style: italic;
  }
  margin: 0 4em 2.4em;
  padding: 0.6em 0 0.6em 1.5em;

  @media (#{ $media-query-small }) {
    margin: 0 ($grid-small-column-width + $grid-small-gutter-width) 2.4em;
  }

  @media (#{ $media-query-medium }) {
    margin: 0 ($grid-medium-column-width + $grid-medium-gutter-width) 2.4em;
  }

  @media (#{ $media-query-large }) {
    margin: 0 ($grid-large-column-width + $grid-large-gutter-width) 2.4em;
  }

  @media (#{ $media-query-extra-large }) {
    margin: 0 ($grid-extra-large-column-width + $grid-extra-large-gutter-width) 2.4em;
  }

  > cite {
    &::before {
      content: '\2014 ';
    }
  }
}

// ordered list
ol {
  list-style: {
    position: inside;
    type: decimal;
  }
  margin-bottom: 2.4em;

  > li {
    @include font-size(1.6em);

    @media (#{ $media-query-extra-large }) {
      @include font-size(2em);
    }

    > ol {
      list-style-type: lower-alpha;
      margin-bottom: 0;

      > li > ol {
        list-style-type: lower-roman;
      }
    }

    > ul {
      margin-bottom: 0;
    }
  }
}

// unordered list
ul {
  list-style: {
    position: inside;
    style-type: disc;
  }
  margin-bottom: 2.4em;

  > li {
    @include font-size(1.6em);

    @media (#{ $media-query-extra-large }) {
      @include font-size(2em);
    }

    > ol {
      margin-bottom: 0;
    }

    > ul {
      list-style-type: circle;
      margin-bottom: 0;

      > li > ul {
        list-style-type: square;
      }
    }
  }
}

li > ol,
li > ul {
  > li {
    font-size: 1em; // 15px
    line-height: 1.6em; // 24px
    margin-left: 1.2em; // 18px
  }
}

// definition list
dl {
  margin-bottom: 1.2em; // 12px
}

// definition term
dt {
  @include font-size(1.6em);

  font: {
    family: $font-family-headings;
    weight: bold;
  }

  @media (#{ $media-query-medium }) {
    @include font-size(2em);
  }

  @media (#{ $media-query-large }) {
    @include font-size(2em);
  }

  @media (#{ $media-query-extra-large }) {
    @include font-size(2em);
  }
}

// definition description
dd {
  @include font-size(1.6em);

  margin: 0 0 0.75em 1.25em; // 0 0 12px 20px
}

// self-contained, single unit referenced from main flow of document
figure {
  @include border-radius(0.2em);
  @include box-shadow(0 0 0.1em $color-neutral-darkest);

  background: $color-neutral-lighter;
  margin: 0 0 2.4em;
  padding: 1.2em 0 0;

  > img {
    margin: 0 auto 1.2em;
  }
}

// caption of figure element's contents
figcaption {
  @include font-size(1.5em);

  background: $color-neutral;
  font: {
    family: $font-family-headings;
    style: italic;
  }
  padding: 0.4em 1em; // 6px 15px
  text-align: center;
}

// groups its children, has no special meaning at all
div {}


//--------------------------------//
// TEXT-LEVEL SEMANTICS           //
//--------------------------------//

// hyperlink
a {
  color: $color-link;
  text-decoration: underline;

  &:active {}

  &:focus {
    outline: 1px dotted $color-neutral-darkest;
  }

  &:link {}

  &:visited {
    color: $color-link-visited;
  }
}

// emphasized text
em {
  font-style: italic;
}

// text of strong importance
strong {
  font-weight: bold;
}

// side comments such as small print
small {}

// no longer accurate or relevant
s {}

// title of a work being quoted or mentioned in passing
cite {
  @include font-size(1.2em);

  font: {
    style: italic;
    weight: bold;
  }
}

// phrasing content quoted from another source
q {
  @include border-radius(0.125em); // 2px
  @include box-shadow(0 0 0.0625em $color-neutral-darker); // 1px

  background: $color-neutral;
  display: inline-block;
  font: {
    family: $font-family-quotes;
    style: italic;
  }
  margin: 0 0.125em; // 0 2px
  padding: 0 0.3125em; // 0 5px

  &::after {
    content: '"';
  }

  &::before {
    content: '"';
  }
}

// definition term
dfn {
  font-style: italic;
}

// abbreviation or acronym
abbr {
  border-bottom: 0.0625em dotted; // 1px
  cursor: help;
  font-variant: normal;
  letter-spacing: 0.0625em; // 1px
  text-transform: uppercase;
}

// date/time
time {}

// fragment of computer code
code {
  font-family: $font-family-code;
}

var {
  font: {
    family: $font-family-code;
    style: italic;
  }
}

// sample computer code
samp {
  font-family: $font-family-code;
}

kbd {
  font-family: $font-family-code;
}

sub,
sup {
  font-size: 0.6em;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// italic text
i {
  font-style: italic;
}

// bold text
b {
  font-weight: bold;
}

u {}

// marked text
mark {
  @include border-radius(0.125em); // 2px
  @include box-shadow(0 0 0.0625em $color-neutral-darkest); // 1px

  background: $color-highlight-lighter;
  color: inherit;
  display: inline-block;
  margin: 0 0.125em; // 0 2px
  padding: 0 0.3125em; // 0 5px
}

ruby {}

rt {}

rp {}

bdi {}

bdo {}

span {}

wbr {}


//--------------------------------//
// EDITS                          //
//--------------------------------//

// inserted text
ins {
  border-bottom: 0.0625em dashed;
  text-decoration: none;
}

// deleted text
del {
  color: $color-neutral-darkest;
  text-decoration: line-through;
}


//--------------------------------//
// EMBEDDED CONTENT               //
//--------------------------------//

img {
  display: block;
}

iframe {}

embed {}

object {}

video {}

// sound element
audio {}

// graphics canvas
canvas {}

map {}

area {}


//--------------------------------//
// TABULAR DATA                   //
//--------------------------------//

// table
table {
  background: $color-neutral-lightest;
  border: {
    collapse: collapse;
    spacing: 0;
  }
  margin-bottom: 2.4em; // 24px
  width: 100%;
}

// table caption
caption {}

col {}

// table body
tbody {
  th {
    background: $color-highlight-lighter;
  }

  > tr {
    &:nth-child(even) {
      background: $color-highlight-lightest;
    }
  }
}

// table header
thead {
  font-family: $font-family-headings;

  th {
    text-align: center;
  }
}

thead,
tfoot {
  background: $color-neutral-lighter;
}

// table row
tr {
  > th {
    &:first-of-type {
      text-align: right;
    }
  }
}

td,
th {
  vertical-align: top;
}

// table data cell
td {
  @include font-size(1.6em);

  padding: 0.375em 0.625em; // 6px 10px
}

// table header cell
th {
  @include font-size(1.6em);

  font: {
    family: $font-family-headings;
    weight: normal;
  }
  padding: 0.375em 0.625em; // 6px 10px
  text-align: left;
}


//--------------------------------//
// FORMS                          //
//--------------------------------//

form {
  margin-bottom: 2.4em; // 24px
  overflow: hidden;

  > fieldset {
    > legend {
      position: absolute;
      text-indent: -999em; // negative a lot
    }
  }
}

fieldset {
  // TODO check effect of clear: left
  clear: left;
  line-height: 1; // helps set vertical alignment of radio buttons and checkboxes; probably unnecessary

  > div {
    overflow: hidden;
    position: relative;

    > p {
      @include font-size(1.2em);

      clear: left;
      color: $color-neutral-darker;
      margin-bottom: 0;
    }

    > span {
      float: left;
      font-size: 1.2em;
      line-height: 2.5em; // 30px
    }
  }

  > fieldset {
    @include border-radius(0.2em); // 2px

    border: 0.1em solid $color-neutral-darker;
    margin-bottom: 1.2em;
    padding: 0.5em 0.9em 1.1em;

    > div {
      margin-bottom: 0;
    }

    > legend {
      padding: 0 0.625em; // 10px
    }
  }
}

legend {
  @include font-size(1.6em);

  color: $color-neutral-darkest;
  font: {
    family: $font-family-headings;
    weight: bold;
  }
  letter-spacing: 0.025em;
}

label {
  cursor: pointer;
  display: block;
  float: left;
  font: {
    family: $font-family-headings;
    size: 1.6em;
  }
  line-height: 1.875em; // 30px

  &:hover {
    & + input {
      border-color: $color-highlight;
    }
  }
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: none;

    &:checked {
      & + label {
        &::before {
          color: $color-neutral-darkest;
        }
      }
    }

    & + label {
      display: inline-block;
      clear: both;

      &::before {
        $color: $color-neutral-lighter;

        background: $color;
        border: 0.0625em solid $color-neutral; // 1px
        color: $color;
        content: '';
        display: inline-block;
        font-family: 'Skeletal Icons';
        height: 1em; // 16px
        line-height: 1em; // 16px
        margin-right: 0.4375em; // 7px
        padding: 0.1875em; // 3px
        text-align: center;
        width: 1em; // 16px

      }

      &:hover {
        &::before {
          border-color: $color-highlight;
        }
      }
    }
  }

  &[type="checkbox"] {
    & + label {
      &::before {
        @include border-radius(0.125em);

        content: $icon-check;
      }
    }
  }

  &[type="radio"] {
    & + label {
      &::before {
        @include border-radius(50%);

        content: $icon-record;
      }
    }
  }

  &[type="color"] {
    @include border-radius(0.125em);

    border: none;
    clear: left;
    float: left;
    font: 1.6em/1em $font-family-inputs; // 16px/16px
    padding: 0;
    width: 60px;
  }

  &[type="text"] {
    @include textfield();
  }

  &[type="file"] {}

  @each $type in (date, datetime, datetime-local, email, month, number, password, search, tel, time, url, week) {
    &[type="#{ $type }"] {
      @extend input[type="text"];
    }
  }

  &[type="range"] {
    clear: left;
    float: left;
  }

  // button elements
  @each $type in (submit, image, reset, button) {
    &[type="#{ $type }"] {
      @extend button;
    }
  }
}

// push buttons
button {
  @include button();
}

select {
  // TODO style selects
  clear: left;
  float: left;
  margin: 0 0.5em 0 0; // ~5px

  ~ select {
    clear: none; // only clear first select, following ones will be in line
  }
}

datalist {}

optgroup {}

option {}

textarea {
  background: $color-neutral-lightest;
  border: {
    color: $color-neutral-darker $color-neutral $color-neutral $color-neutral-darker;
    radius: 0.125em; // 2px
    style: solid;
    width: 0.0625em; // 1px
  }
  clear: left;
  float: left;
  font: 1.6em/1.5em $font-family-sans-serif; // 16px/24px
  margin: 0;
  min-height: 9em; // 114px
  padding: 0.3125em 0.25em; // 5px 4px
  width: 35.628em; // 570px

  &:focus {
    border-color: $color-brand-lighter;
  }
}

keygen {}

output {}

progress {}

meter {}


//--------------------------------//
// INTERACTIVE ELEMENTS           //
//--------------------------------//

details {}

summary {}

command {}

menu {}


//--------------------------------//
// DEBUGGING                      //
//--------------------------------//
@if $is-in-debug-mode {
  * {
    background-color: $color-debug !important;
  }

  html {
    background: repeat-y center top;

    @media (#{ $media-query-small }) {
      background-image: url('../images/grids/small-#{ $number-of-grid-columns }-columns.png');
    }

    @media (#{ $media-query-medium }) {
      background-image: url('../images/grids/medium-#{ $number-of-grid-columns }-columns.png');
    }

    @media (#{ $media-query-large }) {
      background-image: url('../images/grids/large-#{ $number-of-grid-columns }-columns.png');
    }

    @media (#{ $media-query-extra-large }) {
      background-image: url('../images/grids/extra-large-#{ $number-of-grid-columns }-columns.png');
    }
  }
}
